@page "/Chat"
@using ChatGptBlazorApp.AiServices
@inject OpenAiClient OpenAiClient
<h3>Chat</h3>

<textarea id="chatInput" @bind="currentPrompt" rows="4" cols="50"></textarea>
<button @onclick="Send">Send</button>

<div id="chatOutput">
    <ul>
        @foreach (var reply in replies)
        {
            <li>@reply</li>
        }
    </ul>
</div>


@code {
    string currentPrompt = "";
    readonly List<string> replies = new();

    private async void Send()
    {
        var response = await OpenAiClient.GetCompletion(currentPrompt);
        replies.Add(response);
        currentPrompt = string.Empty;
        StateHasChanged();
    }

}