@page "/Chat"
@using ChatGptBlazorApp.AiServices
@inject OpenAiClient OpenAiClient
<h3>Chat</h3>

<form onsubmit="@Send">
    <div class="row">
        <textarea class="form-control"  id="chatInput" @bind="currentPrompt"></textarea>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button type="submit" class="form-control mt-2 btn btn-primary">Send</button>
        </div>
    </div>
</form>


@if (waitingForResponse)
{
    <div class="row m-1">Waiting for response....</div>
}
<div class="row" id="chatOutput">
    <ul>
        @foreach (var reply in replies)
        {
            <li>@reply</li>
        }
    </ul>
</div>


@code {

    bool waitingForResponse;
    string currentPrompt = "";
    readonly List<string> replies = new();

    private async Task Send()
    {
        waitingForResponse = true;
        replies.Add($"User: {currentPrompt}");
        var response = await OpenAiClient.GetCompletion(currentPrompt);
        replies.Add(response);
        currentPrompt = string.Empty;
        waitingForResponse = false;
    }

}