@using ChatGptBlazorCore.Models
@using System.Globalization
@inject IChatSessionRepository ChatSessionRepository

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChatGptBlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @* <NavLink class="nav-link" href="@GetChatSessionLink(null)">New topic</NavLink> *@
            <button @onclick="AddNewTopic">New topic</button>
        </div>
        @foreach (var sessionTopicTuple in ChatSessionTopics)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@GetChatSessionLink(sessionTopicTuple.Id)">
                    <span class="" aria-hidden="true">@GetSessionDescription(sessionTopicTuple)</span>
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {

    public delegate Task NewTopicDelegate();

    [Parameter]
    public EventCallback OnNewTopic { get; set; }


    [CascadingParameter]
    public (Guid Id, string Topic, DateTime Created)[] ChatSessionTopics { get; set; } = Array.Empty<(Guid Id, string Topic, DateTime Created)>();

    private bool collapseNavMenu = true;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string GetChatSessionLink(Guid? sessionId)
    {
        if (sessionId == null)
            return $"chat/{Guid.NewGuid()}";

        return $"chat/{sessionId}";
    }

    private object GetSessionDescription((Guid Id, string Topic, DateTime Created) sessionTopicTuple)
    {
        return $"{sessionTopicTuple.Topic} {sessionTopicTuple.Created.ToString("yy-MM-dd", CultureInfo.CurrentCulture)}";
    }

    private async Task AddNewTopic(MouseEventArgs obj)
    {
        await OnNewTopic.InvokeAsync();
    }

}